@media only screen and (max-width: 640px){
    .container{
        max-width: 400px;
    }
    #header{
        flex-direction: column;
    }
    nav > .right-side{
        display: none;
    }
    h1{
        font-size: 40px;
    }
    .feature-container{
        grid-template-columns: auto;
    }
    #professional{
        flex-direction: column;
    }
    .apple1, .apple2{
        flex-direction: column;
    }
    .review-container{
        grid-template-columns: auto;
    }
    #header > .left-side,
    #header > .right-side,
    #professional > .right-side,
    #professional > .left-side,
    .apple1 > div,
    .apple2 > div{
        width: 100%;
    }
    .apple1 > img,
    .apple2 > img{
        height: 200px;
    }
    #updates{
        padding: 10px;
    }
}

@media only screen and (min-width: 640px){
    nav > i{
        display: none;
    }
}